.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color:#fff000;
    font-style: oblique;
    
    font-size: x-large;
    color: navy;
    border-radius: 15px ;
    
        
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-decoration-color: red;
    text-shadow: 1px 1px black;
}

.navbar__logout {
    margin-left: auto;
}
