.navbar {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color:#fff000;
    font-style: oblique;
    color: navy;
    border-radius: 15px;  
        
}

.navbar__item {
    padding-left: 35px;
    padding-right: 35px;
    flex-basis: 15%;
    list-style-type: none;
    font-size: x-large;     
}

