.pageHeader {
    display: flex;
    text-align: center;
    color: #fff000;
    border-radius: 15px ;
    background-image: url("https://wallpapercave.com/wp/wp8847494.jpg");
    margin: auto;
}

.banner {
    margin: auto;

}

.title {
    text-shadow: 5px 5px black;
    
}

.motto {
    text-shadow: 2px 2px black;
}

.NSCDarkLogo {
    align-self: center;
}