.parkingFavs {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  height:auto;
}

.parkingFav {
  border-style: solid; 
  background-color: navy;
  color: #fff000;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 40rem;
  padding: 1rem;
  box-shadow: 2px 2px black;
  border-radius: 15px;
  text-align: center;
}

.SGFavs {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  height:auto;
}

.SGFav {
  border-style: solid; 
  background-color: #fff000;
  color: navy;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 40rem;
  padding: 1rem;
  box-shadow: 2px 2px black;
  border-radius: 15px;
  text-align: center;
}

.addLotButton {
  background-color: #fff000;
  border-radius: 12px;
  color: navy;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 20%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.addLotButton:not(:disabled):hover,
.addLotButton:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.addLotButton:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
