.supporters { 
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    height:auto;
}


.SG {
    border-style: solid; 
    background-color: navy;
    color: #fff000;
    margin: .5rem;
    height: auto;
    width: 40rem;
    padding: 1rem;
    box-shadow: 2px 2px black;
    border-radius: 15px;
    
}

.favButton {
    
    margin-left: 5rem;
    display: inline-flex;
}

.SGLink {
    
    color: red
}