.comments {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    height:auto;
    
    margin-left: auto;
    margin-right: auto;
}

.comment {
    /* display: flex; */
    flex-direction: column;
      border-style: solid; 
      background-color: navy;
      color: #fff000;
      margin: .5rem;
      height: auto;
      width: 40rem;
      padding: 1rem;
      box-shadow: 2px 2px black;
      border-radius: 15px;
      margin-left: auto;
      margin-right: auto;
}

.commentsLink {
    color: green;    
}

.addedBy {
    text-align: right;
}

.commentsTitle {
    color: #fff000;
}