.lots { 
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    height:auto;
    
    margin-left: auto;
    margin-right: auto;
}


.lot {
  display: flex;
  flex-direction: column;
    border-style: solid; 
    background-color: navy;
    color: #fff000;
    margin: .5rem;
    height: auto;
    width: 40rem;
    padding: 1rem;
    box-shadow: 2px 2px black;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

.lotHeader {
  margin-bottom: 1rem;
}

.lotname{
  color: #fff000;
}

.lotInfo {
  
}

.lotFooter {
  margin-top: .5rem;
  margin-top: auto;
  margin-bottom: auto;
}
  


.container {
    display: grid;
    flex-direction: row;
}
.buttons {
  display: block;
    margin-left: auto;
    margin-right: auto;
    
}


/* CSS */
.button-32 {
  background-color: #fff000;
  border-radius: 12px;
  color: navy;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 20%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
  height: 75px;
  flex-direction: row; 
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

/* CSS */
.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: green;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none; 
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}